:host(app-billboard) {
    width: 100%;
    display: flex;
}

.billboard {
    display: flex;
    flex-direction: column;
    width: 100%;

    .top {
        height: 70px;
    }

    mat-sidenav-container {
        height: 100%;
    }
    mat-sidenav-content {
        background-color: white;
    }
}
