language: node_js
node_js:
  - '8'

script:
  - npm run build

before_deploy:
  - cd dist

deploy:
  provider: npm
  skip_cleanup: true
  email: '$NPM_EMAIL'
  api_key: '$NPM_TOKEN'
  on:
    tags: true
