<div class="main">
  <div class="header">
    <button mat-button>Music</button>

    <mat-form-field class="search">
      <input
        matInput
        type="text"
        placeholder="search"
        [(ngModel)]="searchValue"
        (keyup)="inputKeyup($event)"
      />
      <button
        mat-button
        *ngIf="searchValue"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="duration" *ngIf="config">
      <mat-select
        [(ngModel)]="config.peakConfig.duration"
        name="item"
        (selectionChange)="selectionChange($event)"
      >
        <mat-option *ngFor="let item of peaks" [value]="item.duration">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="body">
    <div class="left">
      <router-outlet></router-outlet>
    </div>
    <div class="right">
      <app-lrc></app-lrc>
    </div>
  </div>

  <div class="footer"><app-controls></app-controls></div>
</div>
