<div class="song-list" *ngIf="playlist" cdkDropList (cdkDropListDropped)="drop($event)">
  <div
    class="song-box"
    cdkDrag
    #perSong
    *ngFor="let song of playlist.songs; index as i"
    [ngClass]="{
      playing: currentSong && currentSong.id === song.id && currentSong.provider === song.provider,
      disabled: song.privilege === Privilege.Deny
    }"
    (click)="play(song, i)"
  >
    <div class="song-info">
      <img
        class="logo"
        src="assets/logos/{{ song.provider }}.png"
        [alt]="song.provider"
        cdkDragHandle
      />

      <span
        class="song-name"
        matTooltip="{{ song.name }}"
        matTooltipPosition="above"
        matTooltipShowDelay="500"
        >{{ song.name }}
      </span>

      <div
        class="song-artists"
        matTooltip="{{ formatArtists(song.artists) }}"
        matTooltipPosition="above"
        matTooltipShowDelay="500"
      >
        <span *ngFor="let artist of song.artists"> {{ artist.name }} </span>
      </div>

      <span class="song-control" (click)="$event.stopPropagation()">
        <i class="material-icons" mat-button [matMenuTriggerFor]="menu">more_vert</i>
      </span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="remove(song)">
          <mat-icon>delete</mat-icon>
          <span>删除</span>
        </button>

        <button mat-menu-item [matMenuTriggerFor]="addMenu">加入歌单</button>
      </mat-menu>

      <mat-menu #addMenu="matMenu">
        <ng-template matMenuContent>
          <app-add-song-to-playlist [song]="song"></app-add-song-to-playlist>
        </ng-template>
      </mat-menu>
    </div>
  </div>
</div>
