<div class="song-list">
  <div
    class="song-box"
    *ngFor="let song of searchList; index as i"
    [ngClass]="{ disabled: song.privilege === 'deny' }"
  >
    <span class="song-info">
      <span class="song-name">[{{ song.provider }}]{{ song.name }}</span>
      <span class="song-artists">
        <span *ngFor="let artist of song.artists"> {{ artist.name }} </span>
      </span>
    </span>
    <span class="song-control">
      <ng-container *ngIf="index === -1">
        <i class="material-icons" (click)="add(song, i)">playlist_add</i>
        <i class="material-icons" (click)="add(song, i, true)">playlist_play</i>
      </ng-container>

      <ng-container *ngIf="index >= 0">
        <i class="material-icons" (click)="play(song)">playlist_play</i>
        <i class="material-icons" (click)="replace(song)">loop</i>
      </ng-container>
    </span>
  </div>
</div>
