<div class="song-list">
  <div
    class="song-box"
    *ngFor="let song of searchList; index as i"
    [ngClass]="{ disabled: song.privilege === 'deny' }"
    (click)="tempPlay(song)"
  >
    <span class="song-info">
      <span class="song-name">
        <img class="logo" src="assets/logos/{{ song.provider }}.png" [alt]="song.provider" />
        {{ song.name }}
      </span>
      <span class="song-artists">
        <span *ngFor="let artist of song.artists"> {{ artist.name }} </span>
      </span>
    </span>
    <ng-container class="song-control" class="song-control">
      <ng-container>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="more"
          (click)="$event.stopPropagation()"
        >
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="currentPlaylist">当前播放列表</button>
          <button mat-menu-item [matMenuTriggerFor]="addMenu">加入歌单</button>
        </mat-menu>

        <mat-menu #currentPlaylist="matMenu">
          <button mat-menu-item (click)="add(song, 'next', true)">
            添加并播放
          </button>
          <button mat-menu-item (click)="add(song, 'next')">
            下一首播放
          </button>
          <button mat-menu-item (click)="add(song, 'end')">
            添加到末尾
          </button>
        </mat-menu>

        <mat-menu #addMenu="matMenu">
          <ng-template matMenuContent>
            <app-add-song-to-playlist
              [song]="song"
              [excludeBase]="false"
            ></app-add-song-to-playlist>
          </ng-template>
        </mat-menu>
      </ng-container>
    </ng-container>
  </div>
</div>
