<div class="play-bar">
  <div class="top">
    <mat-slider
      class="progress"
      thumbLabel
      step="0.1"
      [min]="progress.min"
      [max]="progress.max"
      [value]="progress.current"
      (input)="progressInput($event)"
    >
    </mat-slider>
  </div>

  <div class="bottom">
    <div class="left">
      <div class="cover">
        <img [src]="(currentSong$ | async)?.img" (error)="img.src = defaultImg" #img />
      </div>

      <div class="info">
        <div class="song-name">
          {{ (currentSong$ | async)?.name }}
        </div>

        <div class="singers">
          {{ (currentSong$ | async)?.artists }}
        </div>
      </div>
    </div>

    <div class="right">
      <div class="controls">
        <mat-icon class="previous" (click)="previous()">skip_previous</mat-icon>

        <ng-container *ngIf="playerService.status === Status.paused; else pauseTemplate">
          <mat-icon class="play-btn" (click)="togglePlay()">play_arrow</mat-icon>
        </ng-container>
        <ng-template #pauseTemplate>
          <mat-icon class="play-btn" (click)="togglePlay()">pause</mat-icon>
        </ng-template>

        <mat-icon class="next" (click)="next()">skip_next</mat-icon>
      </div>

      <div class="tools">
        <div class="volume">
          <mat-icon>volume_up</mat-icon>
          <mat-slider class="range" thumbLabel [(ngModel)]="volume"></mat-slider>
        </div>

        <div class="locate" (click)="locate()">
          <mat-icon>location_searching</mat-icon>
        </div>

        <div class="play-list" [routerLink]="['/list']">
          <mat-icon>list</mat-icon>
        </div>

        <div class="more">
          <mat-icon>more_horiz</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
