.play-bar {
    display: flex;
    flex-direction: column;

    height: 72px;
    color: #e7e7e7;
    background-color: #303030;

    .top {
        display: flex;

        height: 2px;

        .progress {
            top: -25px;
            width: 100%;
        }
    }

    .bottom {
        display: flex;
        align-items: center;

        height: 100%;

        mat-icon {
            font-size: 20px;
            height: auto;
            width: auto;
        }

        .left {
            display: flex;
            align-items: center;
            height: 100%;

            .cover {
                height: 100%;

                img {
                    height: 100%;
                }
            }

            .info {
                margin-left: 8px;

                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;

                width: 130px;
                overflow: hidden;

                @media (max-width: 700px) {
                    width: 90px;
                }

                .song-name {
                    font-size: 14px;
                    line-height: 18px;

                    @media (max-width: 700px) {
                        font-size: 12px;
                    }
                }

                .singers {
                    font-size: 12px;

                    @media (max-width: 700px) {
                        font-size: 10px;
                    }
                }
            }
        }

        .right {
            display: flex;
            justify-content: space-around;

            height: 100%;
            width: 100%;
            margin: 0 5px;

            @media (max-width: 700px) {
                justify-content: space-between;
            }

            .controls {
                display: flex;
                align-items: center;

                .previous {
                    margin-right: 10px;
                    font-size: 25px;
                }

                .play-btn {
                    font-size: 40px;
                }

                .next {
                    margin-left: 10px;
                    font-size: 25px;
                }

                @media (max-width: 700px) {
                    .previous {
                        margin-right: 0;
                    }
                    .next {
                        margin-left: 0;
                    }
                }
            }

            .tools {
                display: flex;
                align-items: center;

                .volume {
                    display: flex;
                    align-items: center;

                    @media (max-width: 700px) {
                        display: none;
                    }

                    .range {
                        width: 80px;

                        ::ng-deep .mat-slider-track-wrapper,
                        .mat-slider-track-background,
                        .mat-slider-ticks,
                        .mat-slider-ticks-container {
                            background-color: #e7e7e7;
                        }
                    }
                }

                > div {
                    margin-left: 10px;

                    @media (max-width: 700px) {
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}
