mat-sidenav-container {
    height: 100%;
}

.body {
    overflow: auto;
    flex: 1;
    display: flex;

    .left {
        overflow: auto;
        flex: 70%;
    }

    .right {
        overflow: hidden;
        width: 30%;
    }
}

.play-bar {
    height: 72px;
}
