<div class="top-nav">
  <button mat-button (click)="sidenavService.next()">Music</button>

  <mat-form-field class="search">
    <input
      matInput
      type="text"
      placeholder="歌曲/歌手/酷狗分享链接"
      (keyup)="inputKeyup()"
      [(ngModel)]="searchValue"
    />
    <button
      mat-button
      *ngIf="searchValue"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-icon (click)="toggleSetting()">grain</mat-icon>
</div>
