<div class="song-list">
  <div class="song-box" *ngFor="let song of searchList; index as i">
    <span class="song-info">
      <span class="song-name">[{{ song.provider }}]{{ song.name }}</span>
      <span class="song-artists">
        <span *ngFor="let artist of song.artists"> {{ artist.name }} </span>
      </span>
    </span>
    <span class="song-control">
      <i class="material-icons" (click)="add(song)">playlist_add</i>
      <i class="material-icons" (click)="add(song, true)">playlist_play</i>
    </span>
  </div>
</div>
